
body{

width: 990px;
margin:0 auto;
position:relative;
vertical-align: middle;

}
.menu{

  height:50px;
  display:flex;
  text-align: right;


}
.h{
	vertical-align: middle;
	display:flex;
	margin-top:30px;
	margin-bottom: 20px;
    height:50px;



}

.imgb{


	vertical-align: text-bottom;
}
.nav{
   position: relative;
   width:990px;
   margin-bottom:0px;
   margin-top:100px;
   

}
.top {

float: right;
height :25px;
font-size: 12px;


}

.menu_container{
 position:relative;
 left:20px;

}

.main{
	height:480px;

background-color: #f5f5f5;

}

.desc{

	height:238px;
	display:flex;
}

.description{


	width:680px;
}
.apps{

display:flex;

}
.colla{
	width:33.3%;
}
.business{

	width:33.3%;
}
.produtivity{

	width:33.3%;
}
.video
{
    margin-left: 30px;
	text-align: center;
}
.main_nav{

	display:flex;
}

.slogan{

	height:100px;
}
.ext{

margin-right: 15px;
}

.img_lt{
display:flex;
text-align: right;

}
.space{

	margin-right: 2px;
}
ul {

list-style-type:none;

}

.clear{

	clear:both;
}

.slogan h2{

  font-weight: normal;

    text-align: center;

    padding-top: 40px;


}

.left{

	width:50%;
	display:flex;
}
.right{

	width:50%;

    padding-top: 80px;
    padding-left: 50px;

}

.right p{


	width:65%;
}

.right a{


    background-color: red;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    color:white;
    font-weight: bold;

}

.right a:hover{

	background-color: #ab0d0d ;

}
.right a:link{

	text-decoration: none;
}

.left img{

width: 380px;
height: 380px;
margin :0 auto;

}